

@{
    ViewBag.Title = "Blow Out!";
}


<div class="jumbotron">
    <div style="background: rgba(86,86,86,.5)">
        <h1>Welcome to Blow Out!</h1>
        <p class="lead" style="text-align:center">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself" -Johann Sebastian Bach</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instrument Rental</h2>
        <p>
            View our wide variety of rental options, including new and used instruments.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Rentals")'>View Rentals &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn About Us</h2>
        <p>Learn more about us at BlowOut like where we came from, what our goals are, and how we aim to serve you!</p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "About")'>About Blow Out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Our Team </h2>
        <p>Questions? Comments? Drop us a line, we're always listening!</p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Contact")'>Contact Us&raquo;</a></p>
    </div>
</div>