
@{
    ViewBag.Title = "Index";
}

<h2>About Blowout</h2>

<body>
    <p>Blowout rentals started years ago when Mark Frentzenheimer was just in school. He wanted to study music, so he followed his passion to the top of the musical community, specializing in trumpet performance.</p>
    <br />
    <p>Through the years, we've gathered more and more instruments. You can expect the lowest prices and highest quality instruments on our site. Thanks for visiting us!</p>
</body>

